*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
}
body{
	background-image: url(328.jpg);
	background-size: 100%;
}
div{
	margin-top: ;
	margin-left: ;
}
div{
	width: 240px;
	height: 50px;
	font-size: 90px;
	color: #123;
}