*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	list-style: none;
	color: #424242;
	font-family: arial;
	
}
.left{
	float: left;
}
.right{
	float: right;
}

/*第一个盒子
100%*35.8
#f5f5f5
*/
.box1{
	width: 100%;
	height: 35.8px;
	background: #f5f5f5;
}
/*box1 里盒子 1190*35*/
.box1 .inter{
	margin: 0 auto;
	width: 1190px;
	height: 35px;
}
/*放文本信息
垂直居中*/
.box1 .inter .nation1 .yes{
	margin-right: 10px;
	line-height:35px;
	height: 35px;
}
/*文本颜色 大小 扩宽*/
.box1 .inter .nation1 .yes a{
	color: #6C6C6C;
	font-size: 12px;
	padding: 0 5px;
}
.box1 .inter .nation1 .yeah  a{
	color:#424242;
}
/*鼠标悬停*/
.box1 .inter .nation1 .yes:hover{
	color: #f40;
	background: #fff;
}


/*
第二个盒子
100%*121
#fff
*/
.box2{
	width: 100%;
	height: 121px;
	background: #fff;
}
/*里盒子
1190*121
*/
.problem{
	position: relative;
	margin: 0px auto;
	width: 1190px;
	height: 121px;
	background: #0ff;
}
/*空白区 1190*33*/
.box2 .problem .foolish{
	width: 1190px;
	height: 33px;
}
/*淘宝网 190*88 背景图 142*58*/
.box2 .problem .solve{
	margin-left: 28px;
	background: #0f0;
	width: 142px;
	height: 0px;
	background-image: url(https://img.alicdn.com/tfs/TB1_uT8a5ERMeJjSspiXXbZLFXa-143-59.png);
	background-size: 142px 58px;
	background-repeat: no-repeat;
	padding-top: 58px;
	overflow: hidden;
	cursor: pointer;
}
/*搜索框*/
.box2 .problem .rate{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -236px;
	margin-top: -10px;
	width: 600px;
	height: 66px;
}
.box2 .problem .rate .the .foundation{
	float: left;
	display: block;
	padding: 6px;
	color: #999;
	width: 472px;
	height: 24px;
	border: 3px solid #f40;
	border-radius:50px 0px 0px 50px;
	font-size: 12px;
}
.box2 .problem .rate .the .of{
	float: left;
	display: block;
	width: 74px;
	height: 41px;
	border: 3px solid #f40;
	border-left-width: 0px ;
	border-radius: 0px 50px 50px 0px;
	font-size: 18px;
	color: #fff;
	background: #f40;
}